

.kigaliBox {
  height: 100%;
  display: flex; /* Use flexbox to arrange children horizontally */
  
}

.infoBox {
  flex: 1; /* Take up 50% of the width */
  height: 100%;
  border-radius: 15px;
  background-color: #e3f2fd;
}

.googleBox {
  flex: 1; /* Take up 50% of the width */
  height: 100%;
  border-radius: 15px;
  margin-left: 10px;
}





@media only screen and (max-width: 768px) {
  .kigaliBox {
    flex-direction: column;
  }

  .infoBox,
  .googleBox {
    flex: 1;
    width: 100%;
    margin-left: 0; /* Reset margin for smaller screens */
  }
}

@media only screen and (max-width: 768px) {
  .googleBox {
    margin-left: 0; /* Reset margin for smaller screens */
  }
}
