/* LocationSelect.css */

.location-select-container {
    margin: 20px;
  }
  
  .location-label {
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
  }
  
  .location-dropdown {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Optional: Add some styling for the "Go Back" button */
  .location-go-back {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .location-go-back:hover {
    background-color: #2980b9;
  }
  

  /* 
  Driver accepting or refusing
    tarcking both
    safe border 
    security g{
        no mouvement get notified
    } 
  */